h1       { font-family:"Open Sans", sans-serif; font-size:20px; font-weight:600; margin-bottom:0.1em; color:#101b2c; text-align:center;}
h2       { font-family:"Open Sans", sans-serif; font-size:14px; font-weight:100; margin-top:0.1em; color:#101b2c;}
h2.co    { font-family:"Open Sans", sans-serif; font-size:24px; font-weight:100; margin-top:0.1em; margin-bottom:0.1em; color:#101b2c;}
h3       { font-family:"Open Sans", sans-serif; font-size:16px; font-weight:100; margin-top:0.1em; margin-bottom:0.1em; color:#101b2c; text-align:center;}
h3.co    { font-family:"Open Sans", sans-serif; font-size:16px; font-weight:100; margin-top:0.1em; margin-bottom:0.1em; color:#FFFFFF;}
hr       { color:#101b2c; background-color:#101b2c; height: 3px; border: 0;width: 80%;}
body     { font-family:"Open Sans", sans-serif; font-size:14px; background-color:#FFFFFF; color:#818181;}
th       { font-family:"Open Sans", sans-serif; font-size:12px; font-weight:bold; background-color:#CED7EF; padding-top:0.5em; padding-bottom:0.5em;  color:#000000;}
tr       { height:25px; background-color:#FFFFFF; }
.shade   { height:25px; background-color:#E0E8F4; }
.title   { height:25px; background-color:#FFFFFF; }
td       { font-family:"Open Sans", sans-serif; font-size:12px;  color:#101b2c; }
td.red   { font-family:"Open Sans", sans-serif; font-size:12px;  color:#FF0066; text-align:center;}
td.green { font-family:"Open Sans", sans-serif; font-size:12px;  color:#008800; text-align:center;}
p        { font-family:"Open Sans", sans-serif; font-size:12px; color:#101b2c; text-align:center; }
p.desc	 { font-family:"Open Sans", sans-serif; font-size:12px; color:#101b2c; text-align:left; }
p.blue   { font-family:"Open Sans", sans-serif; font-size:9px;  color:#000000; }
p.red    { font-family:"Open Sans", sans-serif; font-size:12px;  color:#FF0066; text-align:right; }
p.green  { font-family:"Open Sans", sans-serif; font-size:9px;  color:#008800; }
div.bl   { font-family:"Open Sans", sans-serif; font-size:9px;  color:#0074C4; }
div.red  { font-family:"Open Sans", sans-serif; font-size:9px;  color:#FF0066; }
li       { font-family:"Open Sans", sans-serif; font-size:12px;  color:#000000; }
input    { font-family:"Open Sans", sans-serif; font-size:10px;  color:#000000; font-weight:bold }
select   { font-family:"Open Sans", sans-serif; font-size:10px;  color:#000000; font-weight:bold }
textarea { font-family:"Open Sans", sans-serif; font-size:10px;  color:#000000; font-weight:normal }